
// .btn
//   border: 0
//   cursor: pointer
//   border-radius: 2px
//   margin: 0 $spacing-base
//   padding: $spacing-small $spacing-medium
//   background-color: $color-blue
//   //transition: all 0.1s ease-out 0s

//   &:hover 
//     background-color: lighten($color-blue, 15%)
//     //transform: scale(1.02)
//     box-shadow: 0 0.5rem 1rem rgba($color-black, 0.33)

.btn
  &-color
    &--white
      border-color: $color-white
      color: $color-white
      &[disabled]
        color: $color-white
        &:hover
          border-color: $color-white