
/* This is a hack for groupped columns only 
 * Remove it when ngx-datatable will get true groupped
 * columns feature
 */

.ngx-datatable,
.ngx-datatable .table__column-group,
.ngx-datatable .datatable-header,
.ngx-datatable .datatable-header-cell
  overflow: visible !important


.ngx-datatable
  font-size: 1rem


.table
  &__cell
    padding: $spacing-small
    &--marked
      position: relative
    &--centered
      text-align: center

  &__column-group-wrapper
    position: relative
  &__column-group
    top: -$spacing-large
    left: 2px
    position: absolute
    text-align: center
    border-bottom: 1px $color-white solid



/* Elements in tables */
.sortable 
  cursor: pointer
  font-weight: bold

.mark-triangle
  top: 0
  right: 0
  width: 0
  height: 0
  position: absolute
  border-style: solid
  border-width: 4px 0 0 4px
  border-color: transparent transparent transparent $color-red

.material-icons
  vertical-align: middle

