////
/// @group Ngx table molecule
////

/* 
 * @desc This is a hack for grouped columns only 
 * Remove it when ngx-datatable will get true grouped
 * columns feature
 */

.ngx-datatable,
.ngx-datatable .table__column-group,
.ngx-datatable .datatable-header,
.ngx-datatable .datatable-header-cell
  overflow: visible !important


.ngx-datatable
  font-size: $font-size-text--small
  margin-top: $spacing-medium
  
  .datatable-header
    .datatable-header-cell
      color: $color-grey--dark

  .datatable-body-row
    .datatable-row-odd
      background-color: $color-grey--light
    
  .datatable-header-cell > div,
  .datatable-body-row > div 
      background-color: $color-white
  

.table
  &__cell
    &--marked
      position: relative
    &--centered
      text-align: center

  &__column-group-wrapper
    position: relative
  &__column-group
    left: 2px
    font-size: $font-size-text--tiny
    position: absolute
    text-align: center
    top: -$spacing-medium * 2.5
    padding-bottom: $spacing-small
    border-bottom: 1px $color-grey solid


/// @desc Elements in tables
.sortable 
  cursor: pointer
  font-weight: bold

.mark-triangle
  top: 0
  right: 0
  width: 0
  height: 0
  position: absolute
  border-style: solid
  border-width: 0 4px 4px 0
  border-color: transparent $color-red transparent transparent 
